In [7]:
import pandas as pd

df_jogos = pd.read_csv('dados_jogadores.csv',sep=";" )

In [9]:
df_jogos.head()

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0

In [11]:
df_jogos['data_nascimento'].astype('datetime64')

0     1990-03-09
1     1986-01-05
2     1964-04-10
3     1979-09-28
4     1978-03-09
         ...
494   1974-03-06
495   1959-09-02
496   1962-06-01
497   1958-09-28
498   2004-08-10
Name: data_nascimento, Length: 499, dtype: datetime64[ns]

In [14]:
df_jogos['data_nascimento'] = df_jogos['data_nascimento'].astype('datetime64')

In [16]:
df_jogos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    datetime64[ns]
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 31.3+ KB

In [18]:
#verificar valores nulos
df_jogos.loc[:, df_jogos.isnull().any()].columns

Index(['num_vitorias', 'num_derrotas', 'total_partidas'], dtype='object')

In [20]:
#Contagem dos nulos em todas as colunas
df_jogos.isnull().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       8
num_derrotas       5
total_partidas     8
dtype: int64

In [22]:
#estatistica de porcentagem de erro
df_jogos.isnull().sum()/(len(df_jogos))*100

jogador            0.000000
genero             0.000000
data_nascimento    0.000000
jogo               0.000000
pais               0.000000
num_vitorias       1.603206
num_derrotas       1.002004
total_partidas     1.603206
dtype: float64

In [28]:
dados_ausentes = df_jogos[pd.isnull(df_jogos).any(axis=1)]

In [30]:
dados_ausentes[:15]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
46,Jogador 47,Masculino,1978-01-31,Dama,Uruguai,NaN,68.0,85.0
55,Jogador 56,Feminino,1959-01-27,Dama,Paraguai,NaN,29.0,80.0
71,Jogador 72,Masculino,2005-03-27,Dama,Paraguai,29.0,7.0,NaN
86,Jogador 87,Feminino,1975-05-25,Dama,Argentina,80.0,6.0,NaN
97,Jogador 98,Feminino,1980-04-16,Dama,Paraguai,NaN,1.0,10.0
137,Jogador 138,Feminino,1963-02-16,Jogo da velha,Chile,NaN,28.0,44.0
246,Jogador 247,Feminino,1954-02-14,Dama,Argentina,33.0,NaN,89.0
251,Jogador 252,Masculino,1985-08-18,Jogo da velha,Chile,NaN,27.0,28.0
255,Jogador 256,Feminino,2000-09-28,Xadrez,Chile,1.0,NaN,73.0
287,Jogador 288,Masculino,1952-01-02,Xadrez,Brasil,3.0,NaN,17.0
323,Jogador 324,Feminino,1994-03-23,Dama,Brasil,NaN,1.0,7.0
336,Jogador 337,Masculino,1996-06-13,Dama,Argentina,36.0,NaN,64.0
372,Jogador 373,Feminino,2000-06-24,Xadrez,Paraguai,NaN,49.0,60.0
407,Jogador 408,Feminino,1970-11-23,Xadrez,Brasil,54.0,28.0,NaN
423,Jogador 424,Masculino,1998-08-21,Dama,Paraguai,47.0,30.0,NaN

In [31]:
#Este comando alterar tudo de nulos para Dado_ausente

dados_ausentes['num_vitorias'].fillna('Dado_ausente')

46     Dado_ausente
55     Dado_ausente
71               29
86               80
97     Dado_ausente
137    Dado_ausente
246              33
251    Dado_ausente
255               1
287               3
323    Dado_ausente
336              36
372    Dado_ausente
407              54
423              47
453              15
458              23
473              24
490              16
492    Dado_ausente
496              57
Name: num_vitorias, dtype: object

In [33]:
dados_ausentes['num_vitorias'].fillna(dados_ausentes['total_partidas'] - dados_ausentes['num_derrotas'])

46     17.0
55     51.0
71     29.0
86     80.0
97      9.0
137    16.0
246    33.0
251     1.0
255     1.0
287     3.0
323     6.0
336    36.0
372    11.0
407    54.0
423    47.0
453    15.0
458    23.0
473    24.0
490    16.0
492    19.0
496    57.0
Name: num_vitorias, dtype: float64

In [35]:
#Vamos atribuir ao data_frame
df_jogos['num_vitorias'].fillna(df_jogos['total_partidas'] - df_jogos['num_derrotas'])

0      14.0
1      39.0
2      26.0
3       9.0
4       1.0
       ...
494    52.0
495    13.0
496    57.0
497     5.0
498     1.0
Name: num_vitorias, Length: 499, dtype: float64

In [37]:
#Vamos atribuir ao data_frame
df_jogos['num_derrotas'].fillna(df_jogos['total_partidas'] - df_jogos['num_vitorias'])

0       0.0
1      20.0
2       3.0
3      72.0
4      54.0
       ...
494    28.0
495    51.0
496    23.0
497     3.0
498    86.0
Name: num_derrotas, Length: 499, dtype: float64

In [45]:
#depois de todas as alterações, devemos atribuir a alteração na coluna

df_jogos['num_vitorias'] = df_jogos['num_vitorias'].fillna(df_jogos['total_partidas'] - df_jogos['num_derrotas'])
df_jogos['num_derrotas'] = df_jogos['num_derrotas'].fillna(df_jogos['total_partidas'] - df_jogos['num_vitorias'])
df_jogos['total_partidas'] = df_jogos['total_partidas'].fillna(df_jogos['num_vitorias'] + df_jogos['num_derrotas'])

In [59]:
df_jogos

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,Jogo da velha,Argentina,57.0,23.0,80.0
497,Jogador 498,Masculino,1958-09-28,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,Jogo da velha,Paraguai,1.0,86.0,87.0

In [86]:
jogos = list(df_jogos.pais.unique())
jogos

['Chile', 'Brasil', 'Argentina', 'Uruguai', 'Paraguai']

In [85]:
paises = list(df_jogos.jogo.unique())
paises

['Dama', 'Jogo da velha', 'Xadrez']

In [79]:
import MySQLdb # importação da biblioteca mysqlclient
import sqlalchemy

In [80]:
#Conexão com banco de dados

user = 'root'
password = '140792'
host = 'localhost'
database = 'desafio' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao #testando conexão


engine = sqlalchemy.create_engine(string_conexao)

conn = engine.connect()

In [89]:
        
for jogos in df_jogos.itertuples():
    
    nome_jogo = jogos.jogo

    try:        
        query = f"""insert into jogo (nome_jogo) 
                     values ('{jogos}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {jogos}")
    except Exception as e:
        print(f'Não foi possível inserir o registro: {jogos}. Erro: {e}')

Não foi possível inserir o registro: Pandas(Index=0, jogador='jogador 1', genero='Masculino', data_nascimento=Timestamp('1990-03-09 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=14.0, num_derrotas=0.0, total_partidas=14.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'jogador 1', genero='Masculino', data_nascimento=Timestamp('1990-03-09 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=0, jogador='jogador 1', genero='Masculino', data_nascimento=Timestamp('1990-03-09 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=14.0, num_derrotas=0.0, total_partidas=14.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=1, jogador='Jogador 2', genero='Feminino', data_nascimento=Timestamp('1986-01-05 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=39.0, num_derrotas=20.0, total_partidas=59.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 2', genero='Feminino', data_nascimento=Timestamp('1986-01-05 00:00:00'),' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=1, jogador='Jogador 2', genero='Feminino', data_nascimento=Timestamp('1986-01-05 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=39.0, num_derrotas=20.0, total_partidas=59.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=2, jogador='Jogador 3', genero='Masculino', data_nascimento=Timestamp('1964-04-10 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=26.0, num_derrotas=3.0, total_partidas=29.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 3', genero='Masculino', data_nascimento=Timestamp('1964-04-10 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=2, jogador='Jogador 3', genero='Masculino', data_nascimento=Timestamp('1964-04-10 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=26.0, num_derrotas=3.0, total_partidas=29.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=3, jogador='Jogador 4', genero='Masculino', data_nascimento=Timestamp('1979-09-28 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=9.0, num_derrotas=72.0, total_partidas=81.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 4', genero='Masculino', data_nascimento=Timestamp('1979-09-28 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=3, jogador='Jogador 4', genero='Masculino', data_nascimento=Timestamp('1979-09-28 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=9.0, num_derrotas=72.0, total_partidas=81.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=4, jogador='Jogador 5', genero='Masculino', data_nascimento=Timestamp('1978-03-09 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=1.0, num_derrotas=54.0, total_partidas=55.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 5', genero='Masculino', data_nascimento=Timestamp('1978-03-09 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=4, jogador='Jogador 5', genero='Masculino', data_nascimento=Timestamp('1978-03-09 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=1.0, num_derrotas=54.0, total_partidas=55.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=5, jogador='Jogador 6', genero='Masculino', data_nascimento=Timestamp('1977-04-11 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=88.0, num_derrotas=0.0, total_partidas=88.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 6', genero='Masculino', data_nascimento=Timestamp('1977-04-11 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=5, jogador='Jogador 6', genero='Masculino', data_nascimento=Timestamp('1977-04-11 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=88.0, num_derrotas=0.0, total_partidas=88.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=6, jogador='Jogador 7', genero='Masculino', data_nascimento=Timestamp('1986-11-11 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=53.0, num_derrotas=24.0, total_partidas=77.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 7', genero='Masculino', data_nascimento=Timestamp('1986-11-11 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=6, jogador='Jogador 7', genero='Masculino', data_nascimento=Timestamp('1986-11-11 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=53.0, num_derrotas=24.0, total_partidas=77.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=7, jogador='Jogador 8', genero='Feminino', data_nascimento=Timestamp('1996-03-18 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=35.0, num_derrotas=27.0, total_partidas=62.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 8', genero='Feminino', data_nascimento=Timestamp('1996-03-18 00:00:00'),' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=7, jogador='Jogador 8', genero='Feminino', data_nascimento=Timestamp('1996-03-18 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=35.0, num_derrotas=27.0, total_partidas=62.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=8, jogador='Jogador 9', genero='Masculino', data_nascimento=Timestamp('1969-01-14 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=27.0, num_derrotas=18.0, total_partidas=45.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 9', genero='Masculino', data_nascimento=Timestamp('1969-01-14 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=8, jogador='Jogador 9', genero='Masculino', data_nascimento=Timestamp('1969-01-14 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=27.0, num_derrotas=18.0, total_partidas=45.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=9, jogador='Jogador 10', genero='Masculino', data_nascimento=Timestamp('2004-06-05 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=4.0, num_derrotas=1.0, total_partidas=5.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 10', genero='Masculino', data_nascimento=Timestamp('2004-06-05 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=9, jogador='Jogador 10', genero='Masculino', data_nascimento=Timestamp('2004-06-05 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=4.0, num_derrotas=1.0, total_partidas=5.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=10, jogador='Jogador 11', genero='Masculino', data_nascimento=Timestamp('1975-09-25 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=18.0, num_derrotas=48.0, total_partidas=66.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 11', genero='Masculino', data_nascimento=Timestamp('1975-09-25 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=10, jogador='Jogador 11', genero='Masculino', data_nascimento=Timestamp('1975-09-25 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=18.0, num_derrotas=48.0, total_partidas=66.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=11, jogador='Jogador 12', genero='Feminino', data_nascimento=Timestamp('1992-05-07 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=22.0, num_derrotas=2.0, total_partidas=24.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 12', genero='Feminino', data_nascimento=Timestamp('1992-05-07 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=11, jogador='Jogador 12', genero='Feminino', data_nascimento=Timestamp('1992-05-07 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=22.0, num_derrotas=2.0, total_partidas=24.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=12, jogador='Jogador 13', genero='Masculino', data_nascimento=Timestamp('1996-06-19 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=13.0, num_derrotas=4.0, total_partidas=17.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 13', genero='Masculino', data_nascimento=Timestamp('1996-06-19 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=12, jogador='Jogador 13', genero='Masculino', data_nascimento=Timestamp('1996-06-19 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=13.0, num_derrotas=4.0, total_partidas=17.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=13, jogador='Jogador 14', genero='Feminino', data_nascimento=Timestamp('1980-08-10 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=22.0, num_derrotas=52.0, total_partidas=74.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 14', genero='Feminino', data_nascimento=Timestamp('1980-08-10 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=13, jogador='Jogador 14', genero='Feminino', data_nascimento=Timestamp('1980-08-10 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=22.0, num_derrotas=52.0, total_partidas=74.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=14, jogador='Jogador 15', genero='Feminino', data_nascimento=Timestamp('1955-10-18 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=38.0, num_derrotas=48.0, total_partidas=86.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 15', genero='Feminino', data_nascimento=Timestamp('1955-10-18 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=14, jogador='Jogador 15', genero='Feminino', data_nascimento=Timestamp('1955-10-18 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=38.0, num_derrotas=48.0, total_partidas=86.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=15, jogador='Jogador 16', genero='Feminino', data_nascimento=Timestamp('1999-01-11 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=86.0, num_derrotas=13.0, total_partidas=99.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 16', genero='Feminino', data_nascimento=Timestamp('1999-01-11 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=15, jogador='Jogador 16', genero='Feminino', data_nascimento=Timestamp('1999-01-11 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=86.0, num_derrotas=13.0, total_partidas=99.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=16, jogador='Jogador 17', genero='Masculino', data_nascimento=Timestamp('1984-01-02 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=41.0, num_derrotas=11.0, total_partidas=52.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 17', genero='Masculino', data_nascimento=Timestamp('1984-01-02 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=16, jogador='Jogador 17', genero='Masculino', data_nascimento=Timestamp('1984-01-02 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=41.0, num_derrotas=11.0, total_partidas=52.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=17, jogador='Jogador 18', genero='Feminino', data_nascimento=Timestamp('1981-07-02 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=53.0, num_derrotas=20.0, total_partidas=73.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 18', genero='Feminino', data_nascimento=Timestamp('1981-07-02 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=17, jogador='Jogador 18', genero='Feminino', data_nascimento=Timestamp('1981-07-02 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=53.0, num_derrotas=20.0, total_partidas=73.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=18, jogador='Jogador 19', genero='Feminino', data_nascimento=Timestamp('2004-11-08 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=4.0, num_derrotas=77.0, total_partidas=81.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 19', genero='Feminino', data_nascimento=Timestamp('2004-11-08 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=18, jogador='Jogador 19', genero='Feminino', data_nascimento=Timestamp('2004-11-08 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=4.0, num_derrotas=77.0, total_partidas=81.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=19, jogador='Jogador 20', genero='Masculino', data_nascimento=Timestamp('1954-06-30 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=28.0, num_derrotas=12.0, total_partidas=40.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 20', genero='Masculino', data_nascimento=Timestamp('1954-06-30 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=19, jogador='Jogador 20', genero='Masculino', data_nascimento=Timestamp('1954-06-30 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=28.0, num_derrotas=12.0, total_partidas=40.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=20, jogador='Jogador 21', genero='Feminino', data_nascimento=Timestamp('1954-05-09 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=10.0, num_derrotas=82.0, total_partidas=92.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 21', genero='Feminino', data_nascimento=Timestamp('1954-05-09 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=20, jogador='Jogador 21', genero='Feminino', data_nascimento=Timestamp('1954-05-09 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=10.0, num_derrotas=82.0, total_partidas=92.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=21, jogador='Jogador 22', genero='Feminino', data_nascimento=Timestamp('1955-06-16 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=40.0, num_derrotas=31.0, total_partidas=71.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 22', genero='Feminino', data_nascimento=Timestamp('1955-06-16 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=21, jogador='Jogador 22', genero='Feminino', data_nascimento=Timestamp('1955-06-16 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=40.0, num_derrotas=31.0, total_partidas=71.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=22, jogador='Jogador 23', genero='Feminino', data_nascimento=Timestamp('1997-12-30 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=11.0, num_derrotas=18.0, total_partidas=29.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 23', genero='Feminino', data_nascimento=Timestamp('1997-12-30 00:00:00')' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=22, jogador='Jogador 23', genero='Feminino', data_nascimento=Timestamp('1997-12-30 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=11.0, num_derrotas=18.0, total_partidas=29.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=23, jogador='Jogador 24', genero='Masculino', data_nascimento=Timestamp('1988-11-30 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=5.0, num_derrotas=12.0, total_partidas=17.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 24', genero='Masculino', data_nascimento=Timestamp('1988-11-30 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)

(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=132, jogador='Jogador 133', genero='Feminino', data_nascimento=Timestamp('1975-10-23 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=11.0, num_derrotas=66.0, total_partidas=77.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 133', genero='Feminino', data_nascimento=Timestamp('1975-10-23 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=132, jogador='Jogador 133', genero='Feminino', data_nascimento=Timestamp('1975-10-23 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=11.0, num_derrotas=66.0, total_partidas=77.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=133, jogador='Jogador 134', genero='Feminino', data_nascimento=Timestamp('1966-01-22 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=89.0, num_derrotas=3.0, total_partidas=92.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 134', genero='Feminino', data_nascimento=Timestamp('1966-01-22 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=133, jogador='Jogador 134', genero='Feminino', data_nascimento=Timestamp('1966-01-22 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=89.0, num_derrotas=3.0, total_partidas=92.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=134, jogador='Jogador 135', genero='Feminino', data_nascimento=Timestamp('1976-09-01 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=7.0, num_derrotas=27.0, total_partidas=34.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 135', genero='Feminino', data_nascimento=Timestamp('1976-09-01 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=134, jogador='Jogador 135', genero='Feminino', data_nascimento=Timestamp('1976-09-01 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=7.0, num_derrotas=27.0, total_partidas=34.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=135, jogador='Jogador 136', genero='Masculino', data_nascimento=Timestamp('2003-05-14 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=45.0, num_derrotas=19.0, total_partidas=64.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 136', genero='Masculino', data_nascimento=Timestamp('2003-05-14 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=135, jogador='Jogador 136', genero='Masculino', data_nascimento=Timestamp('2003-05-14 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=45.0, num_derrotas=19.0, total_partidas=64.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=136, jogador='Jogador 137', genero='Masculino', data_nascimento=Timestamp('2002-04-04 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=34.0, num_derrotas=42.0, total_partidas=76.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 137', genero='Masculino', data_nascimento=Timestamp('2002-04-04 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=136, jogador='Jogador 137', genero='Masculino', data_nascimento=Timestamp('2002-04-04 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=34.0, num_derrotas=42.0, total_partidas=76.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=137, jogador='Jogador 138', genero='Feminino', data_nascimento=Timestamp('1963-02-16 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=16.0, num_derrotas=28.0, total_partidas=44.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 138', genero='Feminino', data_nascimento=Timestamp('1963-02-16 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=137, jogador='Jogador 138', genero='Feminino', data_nascimento=Timestamp('1963-02-16 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=16.0, num_derrotas=28.0, total_partidas=44.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=138, jogador='Jogador 139', genero='Masculino', data_nascimento=Timestamp('1968-01-19 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=27.0, num_derrotas=23.0, total_partidas=50.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 139', genero='Masculino', data_nascimento=Timestamp('1968-01-19 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=138, jogador='Jogador 139', genero='Masculino', data_nascimento=Timestamp('1968-01-19 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=27.0, num_derrotas=23.0, total_partidas=50.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=139, jogador='Jogador 140', genero='Masculino', data_nascimento=Timestamp('1956-05-29 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=27.0, num_derrotas=10.0, total_partidas=37.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 140', genero='Masculino', data_nascimento=Timestamp('1956-05-29 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=139, jogador='Jogador 140', genero='Masculino', data_nascimento=Timestamp('1956-05-29 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=27.0, num_derrotas=10.0, total_partidas=37.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=140, jogador='Jogador 141', genero='Masculino', data_nascimento=Timestamp('1984-06-14 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=32.0, num_derrotas=0.0, total_partidas=32.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 141', genero='Masculino', data_nascimento=Timestamp('1984-06-14 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=140, jogador='Jogador 141', genero='Masculino', data_nascimento=Timestamp('1984-06-14 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=32.0, num_derrotas=0.0, total_partidas=32.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=141, jogador='Jogador 142', genero='Masculino', data_nascimento=Timestamp('1973-08-27 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=47.0, num_derrotas=34.0, total_partidas=81.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 142', genero='Masculino', data_nascimento=Timestamp('1973-08-27 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=141, jogador='Jogador 142', genero='Masculino', data_nascimento=Timestamp('1973-08-27 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=47.0, num_derrotas=34.0, total_partidas=81.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=142, jogador='Jogador 143', genero='Masculino', data_nascimento=Timestamp('1995-10-21 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=31.0, num_derrotas=9.0, total_partidas=40.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 143', genero='Masculino', data_nascimento=Timestamp('1995-10-21 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=142, jogador='Jogador 143', genero='Masculino', data_nascimento=Timestamp('1995-10-21 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=31.0, num_derrotas=9.0, total_partidas=40.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=143, jogador='Jogador 144', genero='Feminino', data_nascimento=Timestamp('1952-02-22 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=1.0, num_derrotas=30.0, total_partidas=31.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 144', genero='Feminino', data_nascimento=Timestamp('1952-02-22 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=143, jogador='Jogador 144', genero='Feminino', data_nascimento=Timestamp('1952-02-22 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=1.0, num_derrotas=30.0, total_partidas=31.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=144, jogador='Jogador 145', genero='Masculino', data_nascimento=Timestamp('1995-02-13 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=31.0, num_derrotas=9.0, total_partidas=40.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 145', genero='Masculino', data_nascimento=Timestamp('1995-02-13 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=144, jogador='Jogador 145', genero='Masculino', data_nascimento=Timestamp('1995-02-13 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=31.0, num_derrotas=9.0, total_partidas=40.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=145, jogador='Jogador 146', genero='Feminino', data_nascimento=Timestamp('1996-01-03 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=81.0, num_derrotas=4.0, total_partidas=85.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 146', genero='Feminino', data_nascimento=Timestamp('1996-01-03 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=145, jogador='Jogador 146', genero='Feminino', data_nascimento=Timestamp('1996-01-03 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=81.0, num_derrotas=4.0, total_partidas=85.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=146, jogador='Jogador 147', genero='Masculino', data_nascimento=Timestamp('1974-07-10 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=14.0, num_derrotas=9.0, total_partidas=23.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 147', genero='Masculino', data_nascimento=Timestamp('1974-07-10 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=146, jogador='Jogador 147', genero='Masculino', data_nascimento=Timestamp('1974-07-10 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=14.0, num_derrotas=9.0, total_partidas=23.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=147, jogador='Jogador 148', genero='Feminino', data_nascimento=Timestamp('1961-08-05 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=15.0, num_derrotas=31.0, total_partidas=46.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 148', genero='Feminino', data_nascimento=Timestamp('1961-08-05 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=147, jogador='Jogador 148', genero='Feminino', data_nascimento=Timestamp('1961-08-05 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=15.0, num_derrotas=31.0, total_partidas=46.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=148, jogador='Jogador 149', genero='Feminino', data_nascimento=Timestamp('1982-10-04 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=24.0, num_derrotas=17.0, total_partidas=41.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 149', genero='Feminino', data_nascimento=Timestamp('1982-10-04 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=148, jogador='Jogador 149', genero='Feminino', data_nascimento=Timestamp('1982-10-04 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=24.0, num_derrotas=17.0, total_partidas=41.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=149, jogador='Jogador 150', genero='Feminino', data_nascimento=Timestamp('1995-02-03 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=1.0, num_derrotas=0.0, total_partidas=1.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 150', genero='Feminino', data_nascimento=Timestamp('1995-02-03 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=149, jogador='Jogador 150', genero='Feminino', data_nascimento=Timestamp('1995-02-03 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=1.0, num_derrotas=0.0, total_partidas=1.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=150, jogador='Jogador 151', genero='Feminino', data_nascimento=Timestamp('1976-10-26 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=5.0, num_derrotas=4.0, total_partidas=9.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 151', genero='Feminino', data_nascimento=Timestamp('1976-10-26 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=150, jogador='Jogador 151', genero='Feminino', data_nascimento=Timestamp('1976-10-26 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=5.0, num_derrotas=4.0, total_partidas=9.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=151, jogador='Jogador 152', genero='Masculino', data_nascimento=Timestamp('1997-07-09 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=2.0, num_derrotas=8.0, total_partidas=10.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 152', genero='Masculino', data_nascimento=Timestamp('1997-07-09 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=151, jogador='Jogador 152', genero='Masculino', data_nascimento=Timestamp('1997-07-09 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=2.0, num_derrotas=8.0, total_partidas=10.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=152, jogador='Jogador 153', genero='Feminino', data_nascimento=Timestamp('1955-11-10 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=41.0, num_derrotas=19.0, total_partidas=60.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 153', genero='Feminino', data_nascimento=Timestamp('1955-11-10 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=152, jogador='Jogador 153', genero='Feminino', data_nascimento=Timestamp('1955-11-10 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=41.0, num_derrotas=19.0, total_partidas=60.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=153, jogador='Jogador 154', genero='Feminino', data_nascimento=Timestamp('1966-04-30 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=11.0, num_derrotas=25.0, total_partidas=36.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 154', genero='Feminino', data_nascimento=Timestamp('1966-04-30 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=153, jogador='Jogador 154', genero='Feminino', data_nascimento=Timestamp('1966-04-30 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=11.0, num_derrotas=25.0, total_partidas=36.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=154, jogador='Jogador 155', genero='Masculino', data_nascimento=Timestamp('1968-04-17 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=12.0, num_derrotas=38.0, total_partidas=50.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 155', genero='Masculino', data_nascimento=Timestamp('1968-04-17 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=154, jogador='Jogador 155', genero='Masculino', data_nascimento=Timestamp('1968-04-17 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=12.0, num_derrotas=38.0, total_partidas=50.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)

Não foi possível inserir o registro: Pandas(Index=278, jogador='Jogador 279', genero='Masculino', data_nascimento=Timestamp('1965-06-07 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=13.0, num_derrotas=54.0, total_partidas=67.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 279', genero='Masculino', data_nascimento=Timestamp('1965-06-07 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=278, jogador='Jogador 279', genero='Masculino', data_nascimento=Timestamp('1965-06-07 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=13.0, num_derrotas=54.0, total_partidas=67.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=279, jogador='Jogador 280', genero='Masculino', data_nascimento=Timestamp('2002-04-17 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=39.0, num_derrotas=54.0, total_partidas=93.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 280', genero='Masculino', data_nascimento=Timestamp('2002-04-17 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=279, jogador='Jogador 280', genero='Masculino', data_nascimento=Timestamp('2002-04-17 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=39.0, num_derrotas=54.0, total_partidas=93.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=280, jogador='Jogador 281', genero='Feminino', data_nascimento=Timestamp('1958-05-28 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=6.0, num_derrotas=83.0, total_partidas=89.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 281', genero='Feminino', data_nascimento=Timestamp('1958-05-28 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=280, jogador='Jogador 281', genero='Feminino', data_nascimento=Timestamp('1958-05-28 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=6.0, num_derrotas=83.0, total_partidas=89.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=281, jogador='Jogador 282', genero='Feminino', data_nascimento=Timestamp('1988-11-04 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=53.0, num_derrotas=23.0, total_partidas=76.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 282', genero='Feminino', data_nascimento=Timestamp('1988-11-04 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=281, jogador='Jogador 282', genero='Feminino', data_nascimento=Timestamp('1988-11-04 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=53.0, num_derrotas=23.0, total_partidas=76.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=282, jogador='Jogador 283', genero='Feminino', data_nascimento=Timestamp('1986-03-29 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=2.0, num_derrotas=8.0, total_partidas=10.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 283', genero='Feminino', data_nascimento=Timestamp('1986-03-29 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=282, jogador='Jogador 283', genero='Feminino', data_nascimento=Timestamp('1986-03-29 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=2.0, num_derrotas=8.0, total_partidas=10.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=283, jogador='Jogador 284', genero='Masculino', data_nascimento=Timestamp('1978-04-28 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=14.0, num_derrotas=3.0, total_partidas=17.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 284', genero='Masculino', data_nascimento=Timestamp('1978-04-28 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=283, jogador='Jogador 284', genero='Masculino', data_nascimento=Timestamp('1978-04-28 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=14.0, num_derrotas=3.0, total_partidas=17.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=284, jogador='Jogador 285', genero='Masculino', data_nascimento=Timestamp('1987-03-28 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=41.0, num_derrotas=50.0, total_partidas=91.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 285', genero='Masculino', data_nascimento=Timestamp('1987-03-28 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=284, jogador='Jogador 285', genero='Masculino', data_nascimento=Timestamp('1987-03-28 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=41.0, num_derrotas=50.0, total_partidas=91.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=285, jogador='Jogador 286', genero='Masculino', data_nascimento=Timestamp('1982-11-20 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=38.0, num_derrotas=29.0, total_partidas=67.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 286', genero='Masculino', data_nascimento=Timestamp('1982-11-20 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=285, jogador='Jogador 286', genero='Masculino', data_nascimento=Timestamp('1982-11-20 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=38.0, num_derrotas=29.0, total_partidas=67.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=286, jogador='Jogador 287', genero='Masculino', data_nascimento=Timestamp('2004-02-08 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=48.0, num_derrotas=25.0, total_partidas=73.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 287', genero='Masculino', data_nascimento=Timestamp('2004-02-08 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=286, jogador='Jogador 287', genero='Masculino', data_nascimento=Timestamp('2004-02-08 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=48.0, num_derrotas=25.0, total_partidas=73.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=287, jogador='Jogador 288', genero='Masculino', data_nascimento=Timestamp('1952-01-02 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=3.0, num_derrotas=14.0, total_partidas=17.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 288', genero='Masculino', data_nascimento=Timestamp('1952-01-02 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=287, jogador='Jogador 288', genero='Masculino', data_nascimento=Timestamp('1952-01-02 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=3.0, num_derrotas=14.0, total_partidas=17.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=288, jogador='Jogador 289', genero='Masculino', data_nascimento=Timestamp('1982-10-24 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=1.0, num_derrotas=92.0, total_partidas=93.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 289', genero='Masculino', data_nascimento=Timestamp('1982-10-24 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=288, jogador='Jogador 289', genero='Masculino', data_nascimento=Timestamp('1982-10-24 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=1.0, num_derrotas=92.0, total_partidas=93.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=289, jogador='Jogador 290', genero='Masculino', data_nascimento=Timestamp('1955-10-23 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=32.0, num_derrotas=43.0, total_partidas=75.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 290', genero='Masculino', data_nascimento=Timestamp('1955-10-23 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=289, jogador='Jogador 290', genero='Masculino', data_nascimento=Timestamp('1955-10-23 00:00:00'), jogo='Dama', pais='Chile', num_vitorias=32.0, num_derrotas=43.0, total_partidas=75.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=290, jogador='Jogador 291', genero='Masculino', data_nascimento=Timestamp('1982-10-09 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=27.0, num_derrotas=55.0, total_partidas=82.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 291', genero='Masculino', data_nascimento=Timestamp('1982-10-09 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=290, jogador='Jogador 291', genero='Masculino', data_nascimento=Timestamp('1982-10-09 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=27.0, num_derrotas=55.0, total_partidas=82.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=291, jogador='Jogador 292', genero='Feminino', data_nascimento=Timestamp('1974-01-04 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=26.0, num_derrotas=4.0, total_partidas=30.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 292', genero='Feminino', data_nascimento=Timestamp('1974-01-04 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=291, jogador='Jogador 292', genero='Feminino', data_nascimento=Timestamp('1974-01-04 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=26.0, num_derrotas=4.0, total_partidas=30.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=292, jogador='Jogador 293', genero='Masculino', data_nascimento=Timestamp('1974-10-08 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=1.0, num_derrotas=1.0, total_partidas=2.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 293', genero='Masculino', data_nascimento=Timestamp('1974-10-08 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=292, jogador='Jogador 293', genero='Masculino', data_nascimento=Timestamp('1974-10-08 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=1.0, num_derrotas=1.0, total_partidas=2.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=293, jogador='Jogador 294', genero='Masculino', data_nascimento=Timestamp('1989-11-02 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=19.0, num_derrotas=3.0, total_partidas=22.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 294', genero='Masculino', data_nascimento=Timestamp('1989-11-02 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=293, jogador='Jogador 294', genero='Masculino', data_nascimento=Timestamp('1989-11-02 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=19.0, num_derrotas=3.0, total_partidas=22.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=294, jogador='Jogador 295', genero='Feminino', data_nascimento=Timestamp('1960-03-11 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=10.0, num_derrotas=20.0, total_partidas=30.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 295', genero='Feminino', data_nascimento=Timestamp('1960-03-11 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=294, jogador='Jogador 295', genero='Feminino', data_nascimento=Timestamp('1960-03-11 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=10.0, num_derrotas=20.0, total_partidas=30.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=295, jogador='Jogador 296', genero='Masculino', data_nascimento=Timestamp('1998-01-02 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=8.0, num_derrotas=26.0, total_partidas=34.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 296', genero='Masculino', data_nascimento=Timestamp('1998-01-02 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=295, jogador='Jogador 296', genero='Masculino', data_nascimento=Timestamp('1998-01-02 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=8.0, num_derrotas=26.0, total_partidas=34.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=296, jogador='Jogador 297', genero='Masculino', data_nascimento=Timestamp('1960-01-08 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=41.0, num_derrotas=4.0, total_partidas=45.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 297', genero='Masculino', data_nascimento=Timestamp('1960-01-08 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=296, jogador='Jogador 297', genero='Masculino', data_nascimento=Timestamp('1960-01-08 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=41.0, num_derrotas=4.0, total_partidas=45.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=297, jogador='Jogador 298', genero='Masculino', data_nascimento=Timestamp('1967-08-27 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=7.0, num_derrotas=1.0, total_partidas=8.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 298', genero='Masculino', data_nascimento=Timestamp('1967-08-27 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=297, jogador='Jogador 298', genero='Masculino', data_nascimento=Timestamp('1967-08-27 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=7.0, num_derrotas=1.0, total_partidas=8.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=298, jogador='Jogador 299', genero='Masculino', data_nascimento=Timestamp('1996-05-19 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=8.0, num_derrotas=89.0, total_partidas=97.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 299', genero='Masculino', data_nascimento=Timestamp('1996-05-19 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=298, jogador='Jogador 299', genero='Masculino', data_nascimento=Timestamp('1996-05-19 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=8.0, num_derrotas=89.0, total_partidas=97.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=299, jogador='Jogador 300', genero='Masculino', data_nascimento=Timestamp('1999-08-04 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=1.0, num_derrotas=2.0, total_partidas=3.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 300', genero='Masculino', data_nascimento=Timestamp('1999-08-04 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=299, jogador='Jogador 300', genero='Masculino', data_nascimento=Timestamp('1999-08-04 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=1.0, num_derrotas=2.0, total_partidas=3.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=300, jogador='Jogador 301', genero='Feminino', data_nascimento=Timestamp('2004-03-06 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=47.0, num_derrotas=33.0, total_partidas=80.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 301', genero='Feminino', data_nascimento=Timestamp('2004-03-06 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=300, jogador='Jogador 301', genero='Feminino', data_nascimento=Timestamp('2004-03-06 00:00:00'), jogo='Dama', pais='Brasil', num_vitorias=47.0, num_derrotas=33.0, total_partidas=80.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)

(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=412, jogador='Jogador 413', genero='Masculino', data_nascimento=Timestamp('1950-07-02 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=45.0, num_derrotas=33.0, total_partidas=78.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 413', genero='Masculino', data_nascimento=Timestamp('1950-07-02 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=412, jogador='Jogador 413', genero='Masculino', data_nascimento=Timestamp('1950-07-02 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=45.0, num_derrotas=33.0, total_partidas=78.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=413, jogador='Jogador 414', genero='Feminino', data_nascimento=Timestamp('1975-09-14 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=3.0, num_derrotas=25.0, total_partidas=28.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 414', genero='Feminino', data_nascimento=Timestamp('1975-09-14 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=413, jogador='Jogador 414', genero='Feminino', data_nascimento=Timestamp('1975-09-14 00:00:00'), jogo='Xadrez', pais='Uruguai', num_vitorias=3.0, num_derrotas=25.0, total_partidas=28.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=414, jogador='Jogador 415', genero='Masculino', data_nascimento=Timestamp('1974-05-09 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=63.0, num_derrotas=26.0, total_partidas=89.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 415', genero='Masculino', data_nascimento=Timestamp('1974-05-09 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=414, jogador='Jogador 415', genero='Masculino', data_nascimento=Timestamp('1974-05-09 00:00:00'), jogo='Xadrez', pais='Chile', num_vitorias=63.0, num_derrotas=26.0, total_partidas=89.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=415, jogador='Jogador 416', genero='Masculino', data_nascimento=Timestamp('1950-01-13 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=31.0, num_derrotas=0.0, total_partidas=31.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 416', genero='Masculino', data_nascimento=Timestamp('1950-01-13 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=415, jogador='Jogador 416', genero='Masculino', data_nascimento=Timestamp('1950-01-13 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=31.0, num_derrotas=0.0, total_partidas=31.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=416, jogador='Jogador 417', genero='Masculino', data_nascimento=Timestamp('1968-04-20 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=1.0, num_derrotas=14.0, total_partidas=15.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 417', genero='Masculino', data_nascimento=Timestamp('1968-04-20 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=416, jogador='Jogador 417', genero='Masculino', data_nascimento=Timestamp('1968-04-20 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=1.0, num_derrotas=14.0, total_partidas=15.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=417, jogador='Jogador 418', genero='Feminino', data_nascimento=Timestamp('1986-11-14 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=54.0, num_derrotas=15.0, total_partidas=69.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 418', genero='Feminino', data_nascimento=Timestamp('1986-11-14 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=417, jogador='Jogador 418', genero='Feminino', data_nascimento=Timestamp('1986-11-14 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=54.0, num_derrotas=15.0, total_partidas=69.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=418, jogador='Jogador 419', genero='Masculino', data_nascimento=Timestamp('1984-06-26 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=61.0, num_derrotas=1.0, total_partidas=62.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 419', genero='Masculino', data_nascimento=Timestamp('1984-06-26 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=418, jogador='Jogador 419', genero='Masculino', data_nascimento=Timestamp('1984-06-26 00:00:00'), jogo='Dama', pais='Argentina', num_vitorias=61.0, num_derrotas=1.0, total_partidas=62.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=419, jogador='Jogador 420', genero='Masculino', data_nascimento=Timestamp('1977-08-19 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=52.0, num_derrotas=22.0, total_partidas=74.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 420', genero='Masculino', data_nascimento=Timestamp('1977-08-19 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=419, jogador='Jogador 420', genero='Masculino', data_nascimento=Timestamp('1977-08-19 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=52.0, num_derrotas=22.0, total_partidas=74.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=420, jogador='Jogador 421', genero='Masculino', data_nascimento=Timestamp('1951-05-29 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=16.0, num_derrotas=70.0, total_partidas=86.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 421', genero='Masculino', data_nascimento=Timestamp('1951-05-29 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=420, jogador='Jogador 421', genero='Masculino', data_nascimento=Timestamp('1951-05-29 00:00:00'), jogo='Jogo da velha', pais='Argentina', num_vitorias=16.0, num_derrotas=70.0, total_partidas=86.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=421, jogador='Jogador 422', genero='Feminino', data_nascimento=Timestamp('2004-10-21 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=14.0, num_derrotas=77.0, total_partidas=91.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 422', genero='Feminino', data_nascimento=Timestamp('2004-10-21 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=421, jogador='Jogador 422', genero='Feminino', data_nascimento=Timestamp('2004-10-21 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=14.0, num_derrotas=77.0, total_partidas=91.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=422, jogador='Jogador 423', genero='Masculino', data_nascimento=Timestamp('1988-09-05 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=66.0, num_derrotas=12.0, total_partidas=78.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 423', genero='Masculino', data_nascimento=Timestamp('1988-09-05 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=422, jogador='Jogador 423', genero='Masculino', data_nascimento=Timestamp('1988-09-05 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=66.0, num_derrotas=12.0, total_partidas=78.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=423, jogador='Jogador 424', genero='Masculino', data_nascimento=Timestamp('1998-08-21 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=47.0, num_derrotas=30.0, total_partidas=77.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 424', genero='Masculino', data_nascimento=Timestamp('1998-08-21 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=423, jogador='Jogador 424', genero='Masculino', data_nascimento=Timestamp('1998-08-21 00:00:00'), jogo='Dama', pais='Paraguai', num_vitorias=47.0, num_derrotas=30.0, total_partidas=77.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=424, jogador='Jogador 425', genero='Masculino', data_nascimento=Timestamp('1960-11-10 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=29.0, num_derrotas=12.0, total_partidas=41.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 425', genero='Masculino', data_nascimento=Timestamp('1960-11-10 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=424, jogador='Jogador 425', genero='Masculino', data_nascimento=Timestamp('1960-11-10 00:00:00'), jogo='Xadrez', pais='Argentina', num_vitorias=29.0, num_derrotas=12.0, total_partidas=41.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=425, jogador='Jogador 426', genero='Feminino', data_nascimento=Timestamp('1989-10-15 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=15.0, num_derrotas=28.0, total_partidas=43.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 426', genero='Feminino', data_nascimento=Timestamp('1989-10-15 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=425, jogador='Jogador 426', genero='Feminino', data_nascimento=Timestamp('1989-10-15 00:00:00'), jogo='Xadrez', pais='Paraguai', num_vitorias=15.0, num_derrotas=28.0, total_partidas=43.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=426, jogador='Jogador 427', genero='Masculino', data_nascimento=Timestamp('1956-03-20 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=3.0, num_derrotas=2.0, total_partidas=5.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 427', genero='Masculino', data_nascimento=Timestamp('1956-03-20 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=426, jogador='Jogador 427', genero='Masculino', data_nascimento=Timestamp('1956-03-20 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=3.0, num_derrotas=2.0, total_partidas=5.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=427, jogador='Jogador 428', genero='Feminino', data_nascimento=Timestamp('1974-10-24 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=17.0, num_derrotas=9.0, total_partidas=26.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 428', genero='Feminino', data_nascimento=Timestamp('1974-10-24 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=427, jogador='Jogador 428', genero='Feminino', data_nascimento=Timestamp('1974-10-24 00:00:00'), jogo='Jogo da velha', pais='Brasil', num_vitorias=17.0, num_derrotas=9.0, total_partidas=26.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=428, jogador='Jogador 429', genero='Feminino', data_nascimento=Timestamp('1978-06-19 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=6.0, num_derrotas=10.0, total_partidas=16.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 429', genero='Feminino', data_nascimento=Timestamp('1978-06-19 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=428, jogador='Jogador 429', genero='Feminino', data_nascimento=Timestamp('1978-06-19 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=6.0, num_derrotas=10.0, total_partidas=16.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=429, jogador='Jogador 430', genero='Feminino', data_nascimento=Timestamp('1969-12-22 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=75.0, num_derrotas=12.0, total_partidas=87.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 430', genero='Feminino', data_nascimento=Timestamp('1969-12-22 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=429, jogador='Jogador 430', genero='Feminino', data_nascimento=Timestamp('1969-12-22 00:00:00'), jogo='Jogo da velha', pais='Uruguai', num_vitorias=75.0, num_derrotas=12.0, total_partidas=87.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=430, jogador='Jogador 431', genero='Feminino', data_nascimento=Timestamp('1986-07-23 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=3.0, num_derrotas=10.0, total_partidas=13.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 431', genero='Feminino', data_nascimento=Timestamp('1986-07-23 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=430, jogador='Jogador 431', genero='Feminino', data_nascimento=Timestamp('1986-07-23 00:00:00'), jogo='Xadrez', pais='Brasil', num_vitorias=3.0, num_derrotas=10.0, total_partidas=13.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=431, jogador='Jogador 432', genero='Masculino', data_nascimento=Timestamp('1997-03-14 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=18.0, num_derrotas=32.0, total_partidas=50.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 432', genero='Masculino', data_nascimento=Timestamp('1997-03-14 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=431, jogador='Jogador 432', genero='Masculino', data_nascimento=Timestamp('1997-03-14 00:00:00'), jogo='Jogo da velha', pais='Chile', num_vitorias=18.0, num_derrotas=32.0, total_partidas=50.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=432, jogador='Jogador 433', genero='Masculino', data_nascimento=Timestamp('1965-12-21 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=20.0, num_derrotas=33.0, total_partidas=53.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 433', genero='Masculino', data_nascimento=Timestamp('1965-12-21 00:00:00' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=432, jogador='Jogador 433', genero='Masculino', data_nascimento=Timestamp('1965-12-21 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=20.0, num_derrotas=33.0, total_partidas=53.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=433, jogador='Jogador 434', genero='Feminino', data_nascimento=Timestamp('1964-02-23 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=30.0, num_derrotas=35.0, total_partidas=65.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 434', genero='Feminino', data_nascimento=Timestamp('1964-02-23 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=433, jogador='Jogador 434', genero='Feminino', data_nascimento=Timestamp('1964-02-23 00:00:00'), jogo='Dama', pais='Uruguai', num_vitorias=30.0, num_derrotas=35.0, total_partidas=65.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)
Não foi possível inserir o registro: Pandas(Index=434, jogador='Jogador 435', genero='Feminino', data_nascimento=Timestamp('1965-11-22 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=49.0, num_derrotas=8.0, total_partidas=57.0). Erro: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Jogador 435', genero='Feminino', data_nascimento=Timestamp('1965-11-22 00:00:00'' at line 2")
[SQL: insert into jogo (nome_jogo)
                     values ('Pandas(Index=434, jogador='Jogador 435', genero='Feminino', data_nascimento=Timestamp('1965-11-22 00:00:00'), jogo='Jogo da velha', pais='Paraguai', num_vitorias=49.0, num_derrotas=8.0, total_partidas=57.0)')]
(Background on this error at: http://sqlalche.me/e/13/f405)