In [1]:
import pandas as pd
import os

In [2]:
path = r'C:\Users\Andr√© Neto\Documents\Zetta\Projetos\Prof. Otavio\Planilha de bases de dados\Analises\Eucflux_dados_adicionais\TDR\juntos'
files = os.listdir(path)
df = pd.DataFrame()

In [3]:
files

['output_argiloso.xlsx', 'output_torre.xlsx']

In [4]:
#ajustar as barras automaticos do local do arquivo
files_xlsx = [path + '\\' + f for f in files if f[-4:] == 'xlsx' ]

In [5]:
for f in files_xlsx:
    data = pd.read_excel(f)
    df = df.append(data)

In [7]:
df

,DateTime,T1P15,T2P15,T3P15,T4P15,T1P50,T2P50,T3P50,T4P50,T1P100,...,T5P700C,T5P800A,T5P800B,T5P800C,T5P900A,T5P900B,T5P900C,T5P1000A,T5P1000B,T5P1000C
0,2008-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-01 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-01 01:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-01 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157819,2016-12-31 21:45:00,0.141,0.141,0.132,0.122,0.106,0.109,0.116,0.1,0.098,...,0.131,0.131,0.136,0.141,0.154,0.146,0.146,0.16,0.146,0.146
157820,2016-12-31 22:15:00,0.141,0.141,0.132,0.122,0.107,0.110,0.116,0.1,0.099,...,0.131,0.131,0.136,0.141,0.154,0.146,0.146,0.16,0.146,0.146
157821,2016-12-31 22:45:00,0.141,0.141,0.131,0.123,0.107,0.110,0.117,0.1,0.099,...,0.131,0.131,0.136,0.140,0.154,0.146,0.146,0.16,0.146,0.146
157822,2016-12-31 23:15:00,0.141,0.141,0.131,0.123,0.108,0.110,0.117,0.1,0.099,...,0.131,0.131,0.136,0.141,0.154,0.146,0.146,0.16,0.146,0.146
157823,2016-12-31 23:45:00,0.141,0.141,0.131,0.123,0.108,0.110,0.117,0.1,0.099,...,0.131,0.131,0.136,0.141,0.154,0.146,0.146,0.16,0.146,0.146

In [8]:
#verifica se existem dados duplicados 
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [DateTime, T1P15, T2P15, T3P15, T4P15, T1P50, T2P50, T3P50, T4P50, T1P100, T2P100, T3P100, T4P100, T2P200, T3P200, T4P200, T2P300, T3P300, T4P300, T2P400A, T2P400B, T2P400C, T2P600A, T2P600B, T2P600C, T2P800A, T2P800B, T2P800C, T2P1000A, T2P1000B, T2P1000C, tipo_tdr, T5P15, T5P50, T5P100, T5P200, T5P300, T5P400A, T5P400B, T5P400C, T5P500A, T5P500B, T5P500C, T5P600A, T5P600B, T5P600C, T5P700A, T5P700B, T5P700C, T5P800A, T5P800B, T5P800C, T5P900A, T5P900B, T5P900C, T5P1000A, T5P1000B, T5P1000C]
Index: []

[0 rows x 58 columns]

In [9]:
df.to_excel(r'C:\Users\Andr√© Neto\Documents\Zetta\Projetos\Prof. Otavio\Planilha de bases de dados\Analises\Eucflux_dados_adicionais\TDR\Torre\output_torre.xlsx')